/* Generics */

html {
    font-size:1.5rem;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:400;
    color: rgb(87, 87, 87);
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h1 {
    margin-bottom: 0;
}

.pure-button-primary {
    background-color: #00B7EB !important;
}

input[type=password]{
    color: black;
}

/* Modifiers */

.center {
    text-align:center;
}

    
.hide {
    display:none;
}

.align-right{
    text-align:right;
}
.align-left {
    text-align: left;
}

/* Objects */

.submit-checkin-button {
    position: absolute;

    right: 1rem;
    bottom:1rem;

}

.back-to-search-button {
    position: absolute;
    font-size: 1.7rem !important;
    left: 1rem;
    bottom:1rem;
}

.header {
    height: 60px;
    width:100%;
    background-color: #00B7EB;
    color: #FFF;
}

.center-constrained, .center-constrained-small {
    max-width:60%;
	min-width:650px;
	margin-left: auto;
    margin-right: auto;
}
    .center-constrained-small {
        max-width: 30%;
    }


.remove-child-button{
    color:#FF5437;
    margin-top:-.5rem;
    float:right;
    font-size:2rem;
    
    cursor: pointer;
}

.validation-error {
    background-color: #F2DEDE !important;
    color: #b94a48 !important;
    border: solid 1px #e9322d !important;
}

.grade-option, .edit-person-option{
    width:70%;
    text-align:center;
    padding:1rem 0;
    font-size:1.5rem;
    margin:.5rem auto;
    background-color: white;
    border-radius:5px;

    cursor:pointer;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.edit-person-option {
    color: #000;
    margin-top:.5rem;
}

.edit-person-body {
    width: 70%;
    border:solid 2px;
    border-radius: 5px;
    padding: .5rem 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -14px;
}

.edit-person-button {
    font-size: 1.8rem;
    float:right;
    cursor:pointer;
    margin-right: .2rem;
    margin-top:1rem;
}


.edit-person-body input, .edit-person-body textarea {
    color: #000;
}
.edit-person-body textarea {
    width: calc(100% - 1rem);
}

.lightbox {
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100%;
        
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.85);

        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        

    }

    .lightbox-content {
        text-align:center;
        width: 40rem;
        color:white;
    }

    .lightbox-content input[type=text] {
        color: black;
    }

    .back-button {
        float: left;
        display: inline-block;
        color: #8CD4F5;
        font-size: 2rem;
        margin-left: .5rem;
        margin-top: -2rem;
        cursor: pointer;
    }

    .close-button {
        float: right;
        display: inline-block;
        color: #F27474;
        
        margin-right: -.5rem;
        font-size: 2rem;
        margin-top: -2rem;
        cursor:pointer;
    }

.grid-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.person-grid-block {
    white-space:nowrap;
    width: 10rem;
    border: solid;
    border-radius: 5px;
    margin: .5rem;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.person-grid-block.disabled{
    color: #BCBCBC;
}

.person-icon-guest-text{
    position:absolute;
    color: #FFF;
    margin-top: 2.2rem;
    margin-left: -3.3rem; /* Firefox positions this differently than chrome */
}

.family-increment-buttons {
    text-align: center;
    background-color: #00B7EB;
    color: #FFF;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    font-size: 1.7rem;
    margin: 0 1.5rem;
    position:absolute;
}

.events-container {
    border-top: solid;
    padding:.4rem;
    white-space:normal;
}

.lightbox-button {
    width: 11rem;
}

  .checked-in-icon{
        position:relative;
        float:right;
        margin-right:.1rem;
        color: #77bc77;
    }
  .checked-in {
      border-color: #77bc77;
  }

.add-person-text{
    position: relative;
    top: -.5rem;
   left: .5rem;
   text-align:center;
}

.add-person-container {
    width: 270px; 
    cursor: pointer;
}

.add-person-icon{
    margin-top: .6rem;
}


.pure-input {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: black;
}

.pin-input{
   text-align:center;
   width:8rem;
}

.group-participant-checkbox{
        width: 2rem;
        height: 2rem;
    }
.group-participant-text {
        position:relative;
        top: -.7rem;
        padding-left:.3rem;
    }