<appSettings>
  <add key="APIGUID" value="YOUR_API_GUID" />
  <add key="APIPassword" value="YOUR_API_PASWORD" />

  <add key="FirstTimeCheckinUserID" value="YOUR_CHECKIN_USER_ID" />
  <add key="CampusID" value="1" />

  <!--This decides the age of what this application considers an adult.-->
  <!--It controls whether to make the person a head of household or a child-->
  <add key="AdultAge" value="16"/>
</appSettings>